<html>
  <head>
  <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <h1>Questions Asked</h1>
    <ul>
      <% for (var i = 0; i < length; i++){ %>
        <li>
            <%= recordSet[i].user_id %>
        </li>
        <li>
          <%= recordSet[i].question %>
        </li>
        <li>
          <%= recordSet[i].college_major %>
        </li>
      <% } %>

    </ul>
  </body>
</html>
