<html>
  <head>
  <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <h1>Questions Asked</h1>
    <table style="width:100%">
      <tr>
        <th>user_id</th>
        <th>Question</th>
        <th>College Major</th>
      </tr>
      <% for (var i = 0; i < length; i++){ %>
        <tr>
          <td> <%= recordSet[i].user_id %> </td>
          <td> <%= recordSet[i].question %> </td>
          <td> <%= recordSet[i].college_major %> </td>
        </tr>
      <% } %>
  </table>
  </body>
</html>
