<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <!-- <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=mSdY16Cdgy3tfbILEmSN"></script> -->

    <title>TEST</title>
  </head>

  <style type="text/css">
  html, body {
  	width: 100%; height: 100%;
  }
  </style>

  <body>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- <div id="map" style="width:100%;height:100%;"></div> -->
    <script>
    alert(window.location.href)
    alert(<% positionData %>);

    // var positionData = JSON.stringify("<%= positionData %>");
    // console.log(positionData);
    // console.log(positionData[0]);
    var positionData = <% positionData %>;
    for(var i = 0; i < positionData.length; i++) {
      console.log(positionData[i]);
    }

    function sendAjax(url, data){
      // 입력값을 변수에 담고 문자열 형태로 변환
      var data = {'data' : data};
      data = JSON.stringify(data);
      // content-type을 설정하고 데이터 송신
      var xhr = new XMLHttpRequest();
      xhr.open('POST', url);
      xhr.setRequestHeader('Content-type', "application/json");
      xhr.send(data);
      // 데이터 수신이 완료되면 표시
      xhr.addEventListener('load', function(){
        console.log(xhr.responseText);
      });
    }

    </script>
  </body>
</html>
