<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=mSdY16Cdgy3tfbILEmSN&callback=initMap"></script> -->
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=mSdY16Cdgy3tfbILEmSN"></script>
    <title><%= name %></title>
  </head>
  <body>
    <div id="map" style="width:100%;height:400px;"></div>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
    alert(window.location.href)
    var name = "<%= name %>";
    var place_id = "<%= place_id %>";
    var xpos = "<%= xpos %>";
    var ypos = "<%= ypos %>";
    var ypos = "<%= ypos %>";
    var vicinity = "<%= vicinity %>";
    alert(`name:${name} place_id:${place_id} xpos:${xpos} ypos:${ypos}`);

    var mapOptions = {
        center: new naver.maps.LatLng(37.5540291075, 126.9348325761),
        center: new naver.maps.LatLng(xpos, ypos),
        zoom: 12
    };
    var map = new naver.maps.Map(document.getElementById('map'), mapOptions);

    var generateMarkerAndListener = function(key ,xpos, ypos) {
      generateMarkerListener(generateMarker(key ,xpos, ypos));
    }

    var generateMarker = function(key ,xpos, ypos){
      var markerTest = new naver.maps.Marker({
          position: new naver.maps.LatLng(xpos, ypos),
          map: map,
          clickable: true,
          title: "hi",
          cursor: "hi",
      });
    }

    var generateMarkerListener = function(marker) {
      naver.maps.Event.addListener(marker, 'click', function() {
          swal("선택 성공!", "정류장이 성공적으로 선택됐어!!", "success")
          .then((value) => {
            closeWindow();
          });
      });
    }

    generateMarkerAndListener(name, xpos, ypos);

    </script>
  </body>
</html>
