<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=mSdY16Cdgy3tfbILEmSN&callback=initMap"></script>
    <title><%= name %></title>
  </head>
  <body>
    <div id="map" style="width:100%;height:750px;"></div>
    <script>
    alert(window.location.href)
    var name = "<%= name %>";
    var place_id = "<%= place_id %>";
    var xpos = "<%= xpos %>";
    var ypos = "<%= ypos %>";
    var ypos = "<%= ypos %>";
    var vicinity = "<%= vicinity %>";
    alert(`name:${name} place_id:${place_id} xpos:${xpos} ypos:${ypos}`);

    var mapOptions = {
        center: new naver.maps.LatLng(37.5540291075, 126.9348325761),
        center: new naver.maps.LatLng(xpos, ypos),
        zoom: 12
    };
    var map = new naver.maps.Map(document.getElementById('map'), mapOptions);

    // var markerTest = new naver.maps.Marker({
    //     position: new naver.maps.LatLng(xpos, ypos),
    //     map: map,
    //     clickable: true,
    //     title: "hi",
    //     cursor: "hi",
    // });


    generateMarkerAndListener(name, place_id, xpos, ypos, vicinity);

    var generateMarkerAndListener = function(name, place_id, xpos, ypos, vicinity) {
      generateMarkerListener(generateMarker(name, place_id, xpos, ypos, vicinity));
    }
    var generateMarker = function(name, place_id, xpos, ypos, vicinity){
      // sendAjax(`/busRoute/send_log/user_psid=${user_psid}`, "RUN generateMarker");
      // sendAjax(`/busRoute/send_log/user_psid=${user_psid}`, `xpos: ${xpos} ypos: ${ypos}`);
      return new naver.maps.Marker({
        position: new naver.maps.LatLng(xpos, ypos),
        map: map,
        clickable: true,
        title: name,
        cursor: vicinity,
      });
    }
    var generateMarkerListener = function(marker) {
      naver.maps.Event.addListener(marker, 'click', function() {
          swal("hi", "hi", "success")
          .then((value) => {
            closeWindow();
          });
      });
    }

    </script>
  </body>
</html>
