<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=mSdY16Cdgy3tfbILEmSN&callback=initMap"></script> -->
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=mSdY16Cdgy3tfbILEmSN"></script>
    <title><%= name %></title>
  </head>
  <body>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <div id="map" style="width:100%;height:400px;"></div>
    <script>
    alert(window.location.href)
    var name = "<%= name %>";
    var place_id = "<%= place_id %>";
    var xpos = "<%= xpos %>";
    var ypos = "<%= ypos %>";
    var ypos = "<%= ypos %>";
    var vicinity = "<%= vicinity %>";
    var title = JSON.stringify({"name": name, "vicinity": vicinity});
    alert(`name:${name} place_id:${place_id} xpos:${xpos} ypos:${ypos}`);

    var mapOptions = {
        center: new naver.maps.LatLng(37.5540291075, 126.9348325761),
        center: new naver.maps.LatLng(xpos, ypos),
        zoom: 12
    };
    var map = new naver.maps.Map(document.getElementById('map'), mapOptions);

    var generateMarkerAndListener = function(title, xpos, ypos) {
      generateMarkerListener(generateMarker(title, xpos, ypos));
    }

    var generateMarker = function(title, xpos, ypos){
      return new naver.maps.Marker({
          position: new naver.maps.LatLng(xpos, ypos),
          map: map,
          clickable: true,
          title: title,
      });
    }

    var generateMarkerListener = function(marker) {
      var name = JSON.parse(marker.title).name;
      var vicinity = JSON.parse(marker.title).vicinity;
      naver.maps.Event.addListener(marker, 'click', function() {
        swal(name, vicinity, "success")
        .then((value) => {
          // closeWindow();
        });
      });
    }

    generateMarkerAndListener(title, xpos, ypos);

    </script>
  </body>
</html>
